<div class="container col-6">
  <h2 class="mt-5 mb-5">Visit us</h2>

  <form action="/visit" method="post">

    <div class="mb-3">
      <label class="form-label">Your name</label>
      <input name="username" type="text" class="form-control" placeholder="Enter name">
    </div>

    <div class="mb-3">
      <label class="form-label">Your phone</label>
      <input name="phone" type="text" class="form-control" placeholder="Enter phone">
    </div>

    <div class="mb-3">
      <label class="form-label">Your visiting date and time</label>
      <input name="datetime" type="text" class="form-control" placeholder="Enter date and time">
    </div>

    <button type="submit" class="btn btn-primary">Visit</button>
  </form>
</div>
